<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

## Introduction
In this notebook, Data Science Tools and Ecosystem are broadly classified as:
Data Management Tools; Data Integration and Transformation Tools; Data Visualization Tools; 
Model Deployment, Monitoring and Assessment Tools; Data Asset Management Tools; Code Development and Execution Tools; and Code Asset Management Tools.

__Objectives__

The objectives that this notebook covers are:
* List popular languages for Data Science
* List the common libraries used by Data Scientist
* How to create a table in Jupyter Notebook
* How to create ordered and unordered list
* How to use arithmetic expression in code cell, etc.

Some of the popular languages that Data Scientists use are:
1. MySQL
2. Kubernetes
3. ModelDB
4. Jupyter IDE
5. RStudio
6. Anaconda Navigator
7. Git
8. GitHub

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. Scikit-learn
5. TensorFlow
6. Apache Spark
7. Hadoop.


| Data Science Tools |
|--------------------|
| Anaconda Navigator |
| RStudio |
| Visual Studio |
| Pycham |
| Jupyter IDE |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Barisia Ernest Naifa